<div class="container">
    <mat-toolbar>
      <h2 class="title">Movie Gallery App</h2>
      <div class="search-wrapper">
        <mat-form-field>
            <mat-label>Search for a movie...</mat-label>
            <input
                matInput
                placeholder="Search for a movie title..."
                [(ngModel)]="searchValue"
                (ngModelChange)="setValue($event)"
            />
            <button *ngIf="searchValue.length" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint *ngIf="searchValue.length">
                Here are the results for: <u>{{ searchValue }}</u>
            </mat-hint>
          </mat-form-field>
    </div>
    </mat-toolbar>

    <mat-spinner *ngIf="searchValue.length && !moviesToDisplay.length && !errorMessage.length"></mat-spinner>
   
    <div *ngIf="!isLoading && moviesToDisplay.length" class="list-container">
        <table mat-table [dataSource]="moviesToDisplay" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let movie"> {{ movie.imdbID }} </td>
            </ng-container>
          
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let movie"> {{ movie.Title }} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let movie"> {{ movie.Type }} </td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Release Date </th>
                <td mat-cell *matCellDef="let movie"> {{ movie.Year }} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openMovieInfo(row)"></tr>
          </table>
    </div>
    <div *ngIf="errorMessage.length" class="not-found">
        <h3>{{ errorMessage }}</h3>
        <img
          src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=1480&t=st=1700078584~exp=1700079184~hmac=36dadc1a9a97c1502619ebe146a9cb4f7b4be3802b760247d211c76c6fc953c2"
        />
    </div>
</div>
